header {
  background-image: url("../img/head.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #00b9f1;
  background-size: 200%;
  height: 538px;

  .logonav {
    padding: 32px 24px 80px 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-start;

    img {
      width: 124px;
      height: 24px;
    }
    nav {
      .container_nav {
        @media screen and(max-width: 640px) {
          display: none;
        }
        ul {
          @include ul_flex(47px);
          a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            line-height: 25px;
            font-family: "Barlow", sans-serif;
            &:hover {
              color: #5b636d;
            }
            &#contact {
              background-color: white;
              border-radius: 28px;
              font-size: 15px;
              font-weight: 700;
              line-height: 25px;
              padding: 16px 30px 15px 32px;
              border: 0;
              color: black;
              font-family: "Fraunces", serif;
              &:hover {
                color: white;
                background-color: rgba($color: white, $alpha: 0.25);
              }
            }
          }
        }
      }
      .mobile {
        fill: #ffff;
      }
      #nav_barres {
        hr {
          width: 24px;
          height: 2px;
          background-color: white;
          border: white;
          display: flex;
          flex-direction: column;
          gap: 6px;
        }
        @media screen and(min-width: 640px) {
          display: none;
        }
      }
    }
  }

  h1 {
    margin-bottom: 52px;
    text-align: center;
    font-family: "Fraunces", sans-serif;
    font-size: 40px;
    color: #ffffff;
    font-weight: 900;
    line-height: 49px;
    letter-spacing: 6.25px;
  }
  #container_fleche {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    #fleche {
      position: absolute;
      bottom: -7px;
    }
  }
}
