@media screen and(min-width: 640px) {
  .main_article {
    display: grid;
    grid-template-areas:
      "jaune oeuf"
      "verre rouge";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .imgart {
      width: 100%;
    }
    &__text {
      &--transform {
        width: 100%;
        display: flex;
        justify-content: center;
        grid-area: jaune;
        .container_case {
          display: flex;
          flex-direction: column;
          text-align: left;
          h2 {
            font-family: "Fraunces", serif;
            font-weight: 900;
            font-size: 40px;
            line-height: 49px;
            color: #24303e;
            margin-top: 158px;
            margin-bottom: 32px;
            text-align: left;
          }
          p {
            font-family: "Barlow", sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            color: #808397;
            padding: 0;
            margin-bottom: 40px;
            margin-top: 0;
            text-align: left;
            font-family: "Barlow";
            width: 440px;
          }
          a {
            font-family: "Fraunces, serif";
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 49px;
            letter-spacing: -0.285714px;
            color: #24303e;
            text-decoration: none;
            margin: 0;
            position: relative;
            z-index: 1;
            margin-bottom: 64px;
            h4 {
              font-family: "Fraunces", sans-serif;
              font-weight: 900;
              font-size: 15px;
              line-height: 25px;
              letter-spacing: 1px;
              color: #24303e;
              text-align: left;
              &:hover {
                opacity: 1;
              }
            }
            #yellow {
              height: 5px;
              width: 128px;
              background-color: yellow;
              position: absolute;
              border-radius: 5px;
              z-index: -1;
              bottom: 1px;
              left: -5px;
              opacity: 0.25;
            }

            #red {
              height: 5px;
              width: 128px;
              background-color: red;
              position: absolute;
              border-radius: 5px;
              z-index: -1;
              bottom: 1px;
              left: -5px;
              opacity: 0.25;
            }
          }
        }
      }
      &--stand {
        width: 100%;
        display: flex;
        justify-content: center;
        grid-area: rouge;
        .container_case {
          display: flex;
          flex-direction: column;
          text-align: left;
          margin-left: 165px;
          h2 {
            font-family: "Fraunces", serif;
            font-weight: 900;
            font-size: 40px;
            line-height: 49px;
            color: #24303e;
            margin: 158px 0 32px 0;
            text-align: left;
          }
          p {
            font-family: "Barlow", sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            color: #808397;
            padding: 0;
            margin-bottom: 40px;
            margin-top: 0;
            text-align: left;
            font-family: "Barlow";
            width: 440px;
          }
          a {
            font-family: "Fraunces, serif";
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 49px;
            letter-spacing: -0.285714px;
            color: #24303e;
            text-decoration: none;
            margin: 0;
            position: relative;
            z-index: 1;
            margin-bottom: 64px;
            text-align: left;
            h4 {
              font-family: "Fraunces", sans-serif;
              font-weight: 900;
              font-size: 15px;
              line-height: 25px;
              letter-spacing: 1px;
              color: #24303e;
              text-align: left;
            }
            #yellow {
              height: 5px;
              width: 128px;
              background-color: yellow;
              position: absolute;
              border-radius: 5px;
              z-index: -1;
              bottom: 1px;
              left: -5px;
              opacity: 0.25;
              &:hover {
                opacity: 1;
              }
            }

            #red {
              height: 5px;
              width: 128px;
              background-color: red;
              position: absolute;
              border-radius: 5px;
              z-index: -1;
              bottom: 1px;
              left: -5px;
              opacity: 0.25;
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  .section__article {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &--cerise {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 50%;
      height: 600px;
      background: url(../img/cerise.png) center/cover no-repeat;
      h2 {
        font-family: "Fraunces", serif;
        font-weight: 900;
        font-size: 28px;
        line-height: 35px;
        color: #24554a;
        margin-top: 0;
        margin-bottom: 27px;
        object-fit: cover;
      }
      p {
        font-family: "Barlow", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 27px;
        text-align: center;
        color: #3e7467;
        margin-bottom: 59px;
        width: 339px;
        margin-top: 0;
      }
    }
    &--mandarine {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 50%;
      height: 600px;
      background: url(../img/mandarine.png) center/cover no-repeat;
      h2 {
        font-family: "Fraunces", serif;
        font-weight: 900;
        font-size: 28px;
        line-height: 35px;
        color: #052c3b;
        opacity: 0.75;
        margin-top: 0;
        margin-bottom: 27px;
      }
      p {
        font-family: "Barlow", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 27px;
        text-align: center;
        color: #19536c;
        margin-bottom: 59px;
        width: 339px;
        margin-top: 0;
      }
    }
  }
}
